%% rotating log and errors
[
 {sasl, [{sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},


 {rtsp_server, [
  		 		{rtsp_ip, "10.3.0.86"},
  		 		{rtsp_port, 50002},
         		{sys_bandwidth, 100},
         		{roots, ["/home/sunshine/git/rtsp/test"]}
            ]}
]. 
