%% -*- erlang -*-
{cover_enabled, true}.
{test_deps, false}.
{show_cmd, true}.
{test_node_name, "test_rtsp_server@127.0.0.1"}.
{clean_files, ["logs"]}.
{erl_opts, [debug_info,{d,'TEST'}, {i, "include"}, {src_dirs, ["src"]}]}.
{deps_dirs, ["deps"]}.
{deps, [
]}.
{sub_dirs, ["rel"]}.                          
{edoc_opts,[{packages,false},{subpackages,false}]}.



